{% extends "layout.html" %}

{% block content %}
    <header>
        <h1>News Broadcast</h1>
        <h3 style="text-align: left">Launch Date: 21 April 2021</h3>
        <br>
        <br>
        <p>
            <b>News Broadcasting</b> is the medium of broadcasting of various news events and other information via
            television, radio, or internet in the field of broadcast journalism. The content is usually either produced
            locally in a radio studio or television studio newsroom, or by a broadcast network. It may also include
            additional material such as sports coverage weather forecasts, traffic reports, commentary, and other
            material that the broadcaster feels is relevant to their audience.
        </p>
        <p>
            <b>Television News</b> refers to disseminating current events via the medium of television. A "news
            bulletin" or a "newscast" are television programs lasting from seconds to hours that provide updates on
            international, national, regional, and/or local news events.

            There are numerous providers of broadcast news content such as BBC News, NBC News, CNN, Fox News Channel,
            CNA, and Al Jazeera, as well as numerous programs that regularly provide this content such as NBC Nightly
            News. In addition to general news outlets, there are specialized news outlets, for example about sports
            ESPNews, Fox Sports News, and Eurosport News, as well as finances, including CNBC, Bloomberg Television, and
            Fox Business Network.

            Television news is very visually-based, showing video footage of many of the events that are reported; still
            photography is also used in reporting news stories, although not as much in recent years as in the early
            days of broadcast television. Television channels may provide news bulletins as part of a regularly
            scheduled news program. Less often, television shows may be interrupted or replaced by breaking news reports
            ("news flashes") to provide news updates on events of great importance.

            In this age, watch television news like political wars, sports programs, world cup events (Football), and
            other business news.
        </p>
        <p>
            <b>Radio News</b> is similar to television news, but is transmitted through the medium of the radio instead.
            It is based on the audio aspect rather than the visual aspect. Sound bites are captured through various
            reporters (generally through audio capture devices such as tape recorders) and played back through the
            radio. News updates occur more often on radio than on television – usually about once or twice an hour.
        </p>
    </header>
{% endblock %}